<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.iva.findexpert">

    <!-- Without this Google Play Store will not support any device -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <!--<uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".MainActivity"
            android:parentActivityName=".UI.Common.SplashActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iva.findexpert.UI.Common.SplashActivity" />
        </activity>
        <activity
            android:name=".UI.Common.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Common.WelcomeOneActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Common.WelcomeTwoActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Common.LoginActivity"
            android:noHistory="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Buyer.BuyerHomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".UI.Agent.AgentHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.Buyer.ValidateCodeActivity"
            android:noHistory="false"
            android:screenOrientation="portrait" />

        <service
            android:name=".Background.BackgroundService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".Background.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".UI.Common.TermsAndConditionsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_terms_and_conditions"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".UI.Common.GetStartedActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_get_started"
            android:theme="@style/FullscreenTheme"></activity>
    </application>

</manifest>